<form class="search__form">
  <mat-form-field class="search__form_full-width">
    <input type="text"
           placeholder="Выберите город"
           aria-label="Number"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto"
           (keyup)="onKeyUp()">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of options" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
