<form class="search__form">
  <mat-form-field class="search__form_full-width">
    <input
      type="text"
      placeholder="Выберите город"
      aria-label="Number"
      matInput
      [formControl]="searchControl"
      [matAutocomplete]="auto"
    >
    <mat-autocomplete
      #auto="matAutocomplete"
      [displayWith]="displayWith"
      (optionSelected)="selectValue($event)"
    >
      <mat-option
        *ngFor="let option of options | async"
        [value]="option"
      >
        {{option.name}}, {{option.description}}, {{option.Point.pos}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>


<app-result-bar
  [place]="item.place"
  [weather]="item.weather"
  *ngFor="let item of weatherItems | async"
></app-result-bar>
